<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head-fragment(title)">
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title th:text="${title}"></title>

    <link rel="stylesheet" th:href="@{/assets/modules/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/modules/fontawesome/css/all.min.css}">

    <link rel="stylesheet" th:href="@{/assets/modules/bootstrap-social/bootstrap-social.css}">

    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    <link rel="stylesheet" th:href="@{/assets/css/components.css}">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-94034622-3"></script>
    <script th:inline="javascript">
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-94034622-3');
    </script>
</head>
</html>